coverage/
node_modules/
test/
.nyc_output/
tmp/

*.log
.DS_Store
.eslintrc
.editorconfig
.prettierrc
.travis.yml
*.lcov
*.map
.nycrc.json
.releaserc
*.ts
*.log

yarn.lock
tslint.json
tsconfig.json
cspell.json

!*.d.ts

