name: Check for spelling errors

on:
  push:
    branches: [master, develop]

  pull_request:
    branches: [master, develop]

    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  run-cspell:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: Github checkout
        uses: actions/checkout@v6
      - name: Setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.1
          cache: 'npm'
      - name: Run cspell
        run: npx cspell lint --no-progress --fail-fast "**"
